* {
	padding: 0;
	margin: 0;
	font-family: ;
}

.body {
	display: flex;
	flex-direction: column;
}

.container1 {
	background-color: #1f2937;
	display: flex;
	flex-direction: column;
}

.navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	width: 48px;
	height: 48px;
	flex-shrink: 0;
}

.nav-link {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	gap: 16px;
}

a {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}

a:hover {
	background: black;
	color: #fff;
	border-radius: 10px;
	padding: 16px;
}

.home-info {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 48px;
}

.info {
	color: #fff;
	width: 350px;
	padding: 0;
}

.main-text {
	font-size: 48px;
}

.text-home-info {
	font-size: 18px;
	padding-top: 30px;
	padding-bottom: 16px;
}

button {
	font-size: 16px;
	background-color: #3882f6;
	padding: 5px 8px;
	border-radius: 10px;
}

.picture1 {
	width: 650px;
	height: auto;
}

.container2 {
	display: flex;
	flex-direction: column;
	padding: 24px 0 36px;
}

h2 {
	color: #1f2937;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	padding: 24px 0;
}

.sub-information {
	display: flex;
	justify-content: space-evenly;
	padding: 16px 80px;
	flex-wrap: wrap;
}

.sub-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info-img {
	background-color: #fff;
	border: 5px solid #3882f6;
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.info-text {
	width: 150px;
	text-align: center;
	padding-top: 8px;
}